

<%- include("partials/header.ejs") %>

    <div class="dashboard">
        <div class="user-info">
            <div>
                <h2>User Information</h2>
                <h4>Username: <%= username %></h4>
                <h4>Email Id.: <%= email %></h4>
            </div>
        </div>
        <div class="map">
            <div class="map-container">

            </div>
        </div>
        <div class="buttons">
            <form action="" method="POST">
                <button>Set Current Location</button>
                <button>Join Community</button>
                <button>Nearest Checkpoints</button>
                <button>Emergency</button>
                <button>Complain</button>
            </form>
        </div>
    </div>
<script src="/scripts/map.js"></script>
<%- include("partials/footer.ejs") %>