    <%- include("partials/header.ejs")%>
    <div class="home">
        <h1>Welcome to Safezone</h1>
        <div class="buttons">
            <a href="/register">Create Account</a>
            <a href="/login">Login/Sign in</a>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>