body {
    font-family: sans-serif;
    color: white;
    background-color: #FFE6E6;
}

.register-form {
    width: 800px;
    height: 600px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: rgb(173,136,198);
    background: linear-gradient(135deg, rgba(173,136,198,1) 7%, rgba(225,175,209,1) 23%, rgba(221,172,208,1) 58%, rgba(255,230,230,1) 100%); 

}

.go-back-home {
    text-decoration: none!important;
    text-align: center!important;
    width: 400px!important;
    height: 100px!important;
    font-size: 25px!important;
    font-weight: 500!important;
    color: white;
    margin-top: 30px;
    background-color: #7469B6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    border-radius: 8px;
}

.go-back-home:hover {
    transform: scale(1.1);
}

.register-form > label {
    font-size: 19px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.register-form > label:last-of-type {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    font-size: 18px;
}

.register-form > label:last-of-type > input {
    width: 20px;
}

.register-form input {
    font-size: 13px;
    height: 26px;
    width: 250px;
    border: 2px solid grey;
    border: none;
    border-radius: 5px;
}

.register-form button {
    color: white;
    margin-top: 30px;
    width: 250px;
    height: 26px;
    font-size: 18px;
    background-color: #7469B6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    border-radius: 5px;
}

.register-form button:hover {
    transform: scale(1.1);
}