body {
    font-family: sans-serif;
    color: white;
    background-color: #FFE6E6;
    height: 100vh;

    background: linear-gradient(to bottom, #0f1c21 0%, #26363e 45%, #4f5863 76%, #c6867f 100%);
    color: white;

    /* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    color: black; */
}

.register-form {
    width: 760px;
    height: 570px;
    border-radius: 10px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: rgb(173,136,198);
    background: linear-gradient(135deg, rgba(173,136,198,1) 7%, rgba(225,175,209,1) 23%, rgba(221,172,208,1) 58%, rgba(255,230,230,1) 100%); 


    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.go-back-home {
    text-decoration: none!important;
    text-align: center!important;
    width: 400px!important;
    height: 100px!important;
    font-size: 25px!important;
    font-weight: 500!important;
    color: white;
    margin-top: 30px;
    background-color: #7469B6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    border-radius: 8px;
}

.go-back-home:hover {
    transform: scale(1.1);
}

.register-form > label {
    font-size: 19px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-indent: 6px;
}

.register-form > label:last-of-type {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    font-size: 18px;
}

.register-form > label:last-of-type > input {
    width: 18px;
}

.register-form input {
    font-size: 17px;
    height: 35px;
    width: 300px;
    border: 2px solid grey;
    border: none;
    border-radius: 15px;
    text-indent: 8px;
}

.register-form button {
    color: white;
    margin-top: 30px;
    width: 300px;
    height: 35px;
    font-size: 18px;
    background-color: #7469B6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    border-radius: 15px;
}

.register-form button:hover {
    transform: scale(1.1);
}